// silver #c2c2c2
//mercury #e5e5e5
// durtyGreen #658080
//codeGrey (dark one) #0A0A0A
//steelGrey #AAA9A9
//deepBlack #0E0906
// burnham #002923 deepGreen
//vars
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  height: 100%;
}
body {
  background-color: #e5e5e5;
  color: #0e0906;
  height: 100%;
}
h1,
h2 {
  font-family: "Cinzel", serif;
}
.main_nav {
  display: flex;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #0e0906;

  .logo {
    padding-left: 2rem;
  }
  .navigation {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    a {
      text-decoration: none;
      color: #0e0906;
      padding: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      &:hover {
        background-color: #0e0906;
        color: white;
      }
      &:target {
        background-color: #0e0906;
        color: white;
      }
    }
  }
}
.main {
  padding-bottom: 80px;
}
.inputPage {
  padding-top: 3em;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  .error {
    background-color: rgb(199, 70, 70);
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
  }

  .inputText {
    margin: 30px;
    font-size: 20px;
    width: 100%;

    a {
      margin-left: 10px;
      margin-right: 10px;
      text-decoration: none;
      color: #0e0906;
      display: inline-block;
      padding: 10px 20px;
      border: 0.16em solid #ffffff;
      border-radius: 4px;
      text-align: center;

      &:hover {
        background-color: white;
      }
      &:active {
        background-color: black;
        color: #e5e5e5;
      }
    }
  }
  .inputBlock {
    margin-top: 30px;
    .inputWindow {
      margin-bottom: 30px;
      .formInput {
        color: #333;
        font-size: 1.2rem;
        padding: 1.5rem 0rem;
        border-radius: 0.2rem;
        background-color: rgb(255, 255, 255);
        border: none;
        width: 100%;
        display: block;
        border-radius: 4px;
        border-style: none;
        opacity: 0.4;
        outline: none;
        text-align: center;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  button {
    padding: 15px 30px;
    border: 0.16em solid #ffffff;
    border-radius: 4px;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    &:active {
      background-color: black;
      color: #e5e5e5;
    }
  }
}

.servicePage {
  margin: 20px;
  h1 {
    text-align: center;
  }
  .services {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    @media (max-width: 1020px) {
      display: block;
    }

    .serviceContent {
      margin: 20px;
      .serviceDetails {
        list-style: none;
        display: flex;
        margin-bottom: 10px;
        font-size: 20px;
        .name {
          padding-right: 10px;
        }
        .price {
          margin-left: auto;
          padding-right: 15px;
        }
        .time {
          margin-right: 10px;
        }
        button {
          padding: 3px 10px;
        }
      }
    }
  }
}
.bookingMenu {
  background-color: #658080;
  width: 40%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  right: -100%;
  transition: 850ms;
  color: #0e0906;
}
.bookingMenu.active {
  right: 0;
  transition: 350ms;
  .menuBook {
    position: absolute;
    right: 0;
    padding: 0.7rem;
    font-size: 1.5rem;
    color: #0e0906;
  }
}
.menuToggle {
  background-color: #658080;
  width: 100%;
  height: 20px;
}

.homeContainer {
  display: block;
  .header {
    position: fixed;
    text-align: center;
    height: 50%;
    width: 50%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 60px;
      font-family: "Cinzel", serif;
    }
  }
  .iconArrow {
    font-size: 50px;
    position: fixed;
    text-align: center;
    width: 10%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  .homeContent {
    margin-top: 180px;
    display: flex;
    justify-content: space-around;
    @media (max-width: 800px) {
      display: block;
      text-align: center;
    }
    img {
      @media (max-width: 800px) {
        width: 90%;
      }
    }
    .block {
      .quote {
        font-size: 30px;
        width: 200px;
        text-align: center;
        margin-left: 95px;
        @media (max-width: 800px) {
          margin: 0 auto;
        }

        &.left {
          padding-bottom: 50px;
        }
        &.right {
          padding-top: 50px;
        }
      }
    }
  }
  .bottomBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    min-height: 700px;
    .centerQuote {
      font-size: 30px;
      text-align: center;
      resize: vertical;
      margin-top: 30%;
      margin-bottom: auto;
    }
    .centerLink {
      a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        resize: vertical;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
        color: black;
        &:hover {
          color: #e5e5e5;
          background-color: #0e0906;
        }
      }
    }
  }
}
.wrapper {
  margin: 20px;
  .containerAbout {
    margin-top: 20px;
    display: flex;

    .content {
      font-size: 20px;
      margin-left: 20px;
    }
  }
}
.ReactModal__Content {
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}
@-webkit-keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: #0e0906;
  color: white;
  width: 100%;
}
